html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

:root {
	--font-type: "Roboto", sans-serif;
	--font-light: 300;
	--font-regular: 400;
	--font-bold: 700;
}

.text {
	font-family: var(--font-type);
	color: var(--clr-dark);
}

.background {
	background-color: red;
}
